*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
    width: 100vw;
    height: 9vh;
    align-items: center;
}
.left{
    color: white;
    font-size: 1.5vmax;
}
.right ul{
    display:flex;
}
.right ul li{
    list-style: none;
    padding: 0 1.5vw;
}
.right ul li a{
    color: white;
    text-decoration: none;
}

#game1{
    border-bottom: 4px solid aqua;
}
.right ul li a:hover{
    color: aqua;
    background-color: rgb(31, 31, 31);
    border-bottom: 4px solid aqua;

}
.contactMe a{
    color: bljack !important;
    border: 0px solid white;
    border-radius: 7px;
    padding: 3px;
    background-color: aqua;
}
section{
    display: flex;
    height: 91vh;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 10vmin 5vmax;
    border-radius: 60px;
    height: calc(100vmin - 9vmin - 20vmin);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vmax - 50vmax);

}
.box .smallBox{
    height:300px;
    width: 400px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box .smallBox .in #typing{
    height: 5vmin;
    width: 16vmax;
    color: white;
    background-color: black;
}

.box .smallBox .result{
    color: black;
    font-weight: bolder;
    font-size: 25px;
}
#reset{
    height: 5vmin;
    width: 8vmax;
    color: white;
    margin: 20px 0;
    background-color: black;
    box-shadow: -1px 1px 6px 3px black;
}
#counter{
    color:aliceblue;
    margin-left:10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.submit{
        height: 5vmin;
        width: 8vmax;
        color: white;
        background-color: black;
        box-shadow: -1px 1px 6px 3px black;
}

